
._.gitignore
._airline.csv
._carriers.csv
._out.scala
._report.scala
.metals/metals.h2.db
.metals/metals.log
.Rhistory
.vscode/settings.json
scripts/._Dest_AvgDelay.scala
scripts/._loadData.scala
scripts/._Monthly_AvgDelay.scala
scripts/._Origin_AvgDelay.scala
visualisation/._Analysis_Dashboard.jpg
